      /* Optional: Makes the sample page fill the window. */

      html,
      body {
            height: 100%;
            margin: 0;
            padding: 0;
      }

      #map {
            height: 100%;
            z-index: 0;
      }

      #centre-map-button {
            z-index:1;
            position: absolute;
            top: 10px;
            left: 10px;
            font-family: 'Jim Nightshade', cursive;
            font-size: 15px;
            color: #212529;
            background-color: #d6c3a3;
            border: solid 3px;
            border-color: rgba(0, 0, 0, .9);

            transition: all 0.3s ease-out;
            outline: none;
            box-shadow: none;
      }

      #centre-map-button:active {
            outline: none;
            box-shadow: none;
            transform: scale(0.9, 0.9);
      }

      #centre-map-button:focus {
            color: #212529;
            background-color: #d6c3a3;
            border: solid 3px;
            border-color: rgba(0, 0, 0, .9);
            transition: scale(0.9, 0.9);
      }

      #help-button {
            z-index:1;
            position: absolute;
            top: 10px;
            right: 10px;
            font-family: 'Jim Nightshade', cursive;
            font-size: 15px;
            color: #212529;
            background-color: #d6c3a3;
            border: solid 3px;
            border-color: rgba(0, 0, 0, .9);

            transition: all 0.3s ease-out;
            outline: none;
            box-shadow: none;
      }

      #help-button:active {
            outline: none;
            box-shadow: none;
            transform: scale(0.9, 0.9);
      }

      #increase-range-button {
            z-index:1;
            position: absolute;
            top: 150px;
            right: 5px;

      }

      #decrease-range-button {
            z-index:1;
            position: absolute;
            top: 205px;
            right: 5px;

      }

      #dragon {
            position: absolute;
            width: 40%;
            bottom: 60px;
            right: 32px;
      }

      #compass {
            position: absolute;
            width: 25%;
            bottom: 80px;
            left: 10px;
      }

      #overlay-image {
            pointer-events: none;
            display: block;
            position: absolute;
            background: url("../images/parchment.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            width: 100vw;
            height: 100vh;
            float: right;
            bottom: 0;
            right: 0;
      }

      #start {
            position:absolute;
            width: 100%;
            height: 100%;
            background-color:black;
            z-index: 2;
      }

      #start-button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
      }
      
@for $i from 0 through 7{
      #avenger-#{$i+1}
      {
      position: absolute;
      bottom:0;
      width: 12.5%;
      left:$i*12.5%;
      }
}

.full-avenger {
      position:absolute;
      display:none;
      top:0;
      left:50%;
      top:50%;
      height:400px;
      transform:translate(-50%,-25%);
      img {
            max-height:50%;      
      }

}

.full-avenger-text {
      font-family: 'Marvel', sans-serif;
      position:absolute;
      display:none;
      background-color:purple;
      top:15%;
      color:white;
      font-size:2rem;
      text-align:center;
}

.full-avenger-animate {
      animation: 1.5s ease-in-out;
      animation-name: animate-avenger;      
}


@keyframes animate-avenger {

      0% {transform: scale(0,0) ;  }
      50% {transform: scale(1.25,1.25) ; }
      75% {transform: scale(0.8,0.8) ; }
      100% {transform: scale(1.0,1.0) ; }
}